<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307964864920-272eqo18abndumdt971isl4hu8el0d7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307964864920-272eqo18abndumdt971isl4hu8el0d7v</string>
	<key>API_KEY</key>
	<string>AIzaSyD0GRxd7kkFTrHZ2OiejQmFGK7zOwQk-I8</string>
	<key>GCM_SENDER_ID</key>
	<string>307964864920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.peekaboo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>peekaboo-3b7f1</string>
	<key>STORAGE_BUCKET</key>
	<string>peekaboo-3b7f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307964864920:ios:9ba9aa671dcc9b715423ed</string>
	<key>DATABASE_URL</key>
	<string>https://peekaboo-3b7f1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>